<style>
.column-main {
    width: 30vw;
    text-align: center;
}
.card {
    margin-top: 15px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

</style>
<body>
    <h1><header>Notifications Page</header></h1>
   
               <button> <a href="/">
                    Home
                </a></button>
            
                <button><a href="/user/{{request.user.id}}">
                    Profile
                </a></button>
            
                <h2>Mentions</h2>
        <div class="column-main">
            {% for notification in notifications %}
                <a href="/tweet/{{notification.tweet.id}}">
                    <div class='card'>
                        from: {{notification.tweet.twitter_user}}
                        tweet: {{notification.tweet.body}}
                       
                    </div>
                </a>
            {% endfor %}
        </div>

       <!-- <strong><u>Tweets from people Followed</u></!-->
        <!-- <div>
            {% for t in tweets %}
            {% if twitter_user %}
            <p>{{t.body}}</p><p>{{t.twitter_user}}</p>
            {% endif %}
            {% endfor %} -->
        <!-- </div> --> 
</body>
</html>