<style>
    .column-main {
        width: 30vw;
        text-align: center;
    }

    .card {
        /* Add shadows to create the "card" effect */
        margin-top: 15px;
        background: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
    }

</style>

<body>
    <div class="column-main">
        <header>
            <h1>{{ request.user.username }}, Welcome To Tweeter!</h1>

            <div class='tweet-header'>
                <!-- <div class='profile-pic'>
                    <img />
                </div> -->
                <div>


                    <button><a href="/">Home</a></button>
                    <!-- <button><a href="/notifications/">Notifications <span class='badge'>{{notifications.count}}</span> 
                        </a> -->
                    <button><a href="/user/{{request.user.id}}">Profile</a></button>
                    <button><a href="addpost/">Add a Post</a></button>
                    <!-- <button><a href="signup/">Register</a></button> -->
                    <button><a href="logout/">Logout</a></button>
                </div>


            </div>
            <div style="border: black 1px solid;">
                <a href="/notifications/"><h2>Notifications:</a><span class='badge'>{{notifications.count}}</span> </h2>
            </div>
            <div style="border: lightseagreen 2px solid; margin:4px, 4px; 
                padding:4px; 
                width: 420px; 
                height: 500px; 
                overflow-x: hidden; 
                overflow-x: auto; 
                text-align:justify; ">
                <h2>All Tweets Feed:</h2>
           
                <ul style="list-style-type:none">
                    {% for t in tweets %}
                    
                    <li>{{t.body}}<br />
                        <strong> by: {{t.twitter_user}}</strong>
                        at: {{t.time}}
                        <hr />
                        {% endfor %}</li>
                </ul>

                {% for notification in notifications %}
                <a href="/tweet/{{notification.tweet.id}}">
                    <div class='card'>
                        from: {{notification.tweet.twitter_user}}
                        text: {{notification.tweet.body}}
                    </div>
                </a>
                {% endfor %}
            </div>
            <div style="position: relative; left: 800px; top: -600px; border: lightcoral 1px solid;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <strong>ALL USERS</strong>
                {% for user in tuser%}
                <ul style="list-style-type:none">
                    <li> <a href="/user/{{user.id}}">

                            {{user}}</a></li>
                </ul>
                {% endfor %}
                <hr />
                <hr />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <strong>Following:</strong>
                {% for f in following %}

                <ul style="list-style-type:none">
                    <li>
                        <a href="/user/{{f.id}}">
                            {{f}}</a></li>
                </ul>
                {% endfor %}

            </div> {{twitter_user.following.body}} 
</body>